---
import Layout from "../layouts/Base.astro";
---

<Layout title="astro-youtube">
	<h1>Iván Barcia | Astro Utils</h1>

	<h2>Components</h2>
	<ul>
		<li><a href="/youtube">astro-youtube</a></li>
	</ul>
</Layout>
