---
import Layout from "../layouts/Base.astro";
import YouTube from "@barcia/astro-youtube";
---

<Layout title="astro-youtube">
    <h1>astro-youtube</h1>

    <YouTube id="QdBZY2fkU-0" />
</Layout>
